/* Content type: node-type-lotr */
.page-lotr-the-hobbit .content #name-points,
.node-type-lotr .content #name-points {
  border-bottom: 1px solid black;
  color: #8c4f41;
  margin-bottom: 1em;
}
.page-lotr-the-hobbit .content #name-points .field-name-field-lotr-title,
.node-type-lotr .content #name-points .field-name-field-lotr-title {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-transform: uppercase;
}
.page-lotr-the-hobbit .content #name-points .field-name-field-lotr-title p,
.node-type-lotr .content #name-points .field-name-field-lotr-title p {
  margin-bottom: 0;
}
.page-lotr-the-hobbit .content #name-points .field-name-field-lotr-points,
.node-type-lotr .content #name-points .field-name-field-lotr-points {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}